---
layout: layout.liquid
title: Blog Page
description: A page about the blog
---

<section class="hero-section blog-hero-section">
  <div class="overlay hero-overlay">
    <div class="hero-content">
      <h2 class="hero-header blog-hero-header">Blog</h2>
    </div>
  </div>
</section>

<main class="blog-main-section">
  <h2 class="primary">Blog coming soon...</h2>
</main>