---
layout: layout.liquid
title: Buttons
description: nothing
---

<h1>Buttons</h1>

{% include 'elements/button', text: "Submit" href: "/stores" %}

{% include 'elements/button', text: "Back" href: "/" %}