---
layout: layout.liquid
title: Stores Page
description: A page about the stores
---

<section class="hero-section stores-hero-section">
  <div class="overlay hero-overlay">
    <div class="hero-content">
      <h2 class="hero-header stores-hero-header">Stores</h2>
    </div>
  </div>
</section>

<main class="stores-main-section">
  <div class="store">

    <div class="store-info">
      <h4 class="store-name">Norman St Store</h4>
      <p class="store-address">
        1311 Norman St,<br>
        Docklands,<br>
        Melbourne,<br>
        3902
      </p>
      <div class="store-contact-details">
        <p class="store-number">
          <img class="store-icon" src="/images/icons/phone.svg" alt="">
          0123 456 789
        </p>
        <p class="store-email">
          <img class="store-icon" src="/images/icons/email.svg" alt="">
          normanst@somebakery.com.au
        </p>
        <p class="store-hours">
          <img class="store-icon" src="/images/icons/clock.svg" alt="">
          Monday to Sunday 7am - 6.30pm
        </p>
      </div>
    </div>

    <img class="store-image" src="/images/norman_st.jpg" alt="">

  </div>

  <div class="store-divider"></div>

  <div class="store">

    <div class="store-info">
      <h4 class="store-name">South St Store</h4>
      <p class="store-address">
        491 South St,<br>
        South Yarra,<br>
        Melbourne,<br>
        3783
      </p>
      <div class="store-contact-details">
        <p class="store-number">
          <img class="store-icon" src="/images/icons/phone.svg" alt="">
          0987 654 321
        </p>
        <p class="store-email">
          <img class="store-icon" src="/images/icons/email.svg" alt="">
          southst@somebakery.com.au
        </p>
        <p class="store-hours">
          <img class="store-icon" src="/images/icons/clock.svg" alt="">
          Monday to Sunday 7am - 6.30pm
        </p>
      </div>
    </div>

    <img class="store-image" src="/images/south_st.jpg" alt="">

  </div>
</main>