<footer>
  <div class="footer-top">
    <div class="icon-attributions">Icons made by 
      <a href="https://www.flaticon.com/authors/freepik" title="Freepik" class="primary">Freepik</a>, 
      <a href="https://www.flaticon.com/authors/prosymbols" title="Prosymbols" class="primary">Prosymbols</a>, 
      <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect" class="primary">Pixel perfect</a>, 
      <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn" class="primary">bqlqn</a> from 
      <a href="https://www.flaticon.com/" title="Flaticon" class="primary">www.flaticon.com</a>
    </div>

    <div class="footer-links">
      <a href="">Contact</a>
      <a href="">About</a>
      <a href="">FAQ's</a>
      <a href="">Sitemap</a>
    </div>
  </div>
  <p class="footer-bottom">@ Some Bakery 2014 - 2021</p>
</footer>